Repository calexandru/connected-people: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, black, isort, flake8, bandit, mypy, check-poetry

pydocstyle:
  name: DocStyle
  description: Pydocstyle is a static analysis tool for checking compliance with Python docstring conventions
  entry: poetry run pydocstyle
  args:
  - --ignore=D100,D101,D102,D103,D104,D105,D106,D107,D213,D203,D407,D406,D413
  language: system

black:
  name: Black
  description: 'Black: The uncompromising Python code formatter'
  entry: poetry run black
  args:
  - --line-length=100
  language: system
  require_serial: true

isort:
  name: Reorder python imports
  description: This hook reorders imports in python files.
  entry: poetry run isort
  args:
  - --force-single-line-imports
  require_serial: true
  language: system

flake8:
  name: Flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  args:
  - --max-line-length=100
  - --max-complexity=12
  - --max-cognitive-complexity=15
  language: system
  require_serial: true

bandit:
  name: Python security
  entry: poetry run bandit
  args:
  - -l
  - --recursive
  - --exclude=tests
  pass_filenames: true
  language: system

mypy:
  name: Python typing
  entry: poetry run mypy
  args:
  - --ignore-missing-imports
  pass_filenames: true
  language: system

check-poetry:
  name: Poetry check
  description: Validates the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false

Core implementation
  .python-version
  README.md
  app/api.py
  app/client/__init__.py
  app/client/exceptions.py
  app/client/github.py
  app/client/twitter.py
  app/connect.py
  app/mongo.py
  app/settings.py
  docker-compose.yml
  manage.py
  poetry.lock
  pyproject.toml
  tests/test_api.py
  tests/test_api_endpoints.py
  tests/test_connect.py
  tests/test_github_client.py
  tests/test_twitter_client.py
Due: pydocstyle, black, isort, flake8, bandit, mypy, check-poetry

Github CI/CD
  .github/workflows/code-check.yml
  .github/workflows/test.yml
Due: none

Github CI/CD
  .github/workflows/test.yml
Due: none

Extended readme and fixed small typo
  README.md
  app/client/twitter.py
  docker-compose.yml
Due: pydocstyle, black, isort, flake8, bandit, mypy

Extended readme and fixed small typo
  README.md
Due: none

Extended readme and fixed small typo
  README.md
  manage.py
Due: pydocstyle, black, isort, flake8, bandit, mypy

Cleanup and small fixes
  app/api.py
  app/settings.py
  manage.py
Due: pydocstyle, black, isort, flake8, bandit, mypy

Path conditions:
  pydocstyle: any of: \.py$, but not: ^migrations/
  black: any of: \.py$, but not: ^migrations/
  isort: any of: \.py$, but not: ^migrations/
  flake8: any of: \.py$, but not: ^migrations/
  bandit: any of: \.py$
  mypy: any of: \.py$, but not: ^migrations/
  check-poetry: any of: pyproject.toml
